<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BDJKNMDisplayBooksServlet</servlet-name>
        <servlet-class>club.admin.BDJKNMDisplayBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BDJKNMAddBookServlet</servlet-name>
        <servlet-class>club.admin.BDJKNMAddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BDJKNMLoanServlet</servlet-name>
        <servlet-class>club.cart.BDJKNMLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BDJKNMCartServlet</servlet-name>
        <servlet-class>club.cart.BDJKNMCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BDJKNMDisplayBooksServlet</servlet-name>
        <url-pattern>/BDJKNMDisplayBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BDJKNMAddBookServlet</servlet-name>
        <url-pattern>/BDJKNMAddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BDJKNMLoanServlet</servlet-name>
        <url-pattern>/BDJKNMLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BDJKNMCartServlet</servlet-name>
        <url-pattern>/BDJKNMCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>BDJKNMIndex.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/BDJKNMError.jsp</location>
    </error-page>
</web-app>
